@font-face {
    font-family: "IRANYekan";
    src: url("../../../../public/fonts-file/iran-yekan/eot/IRANYekanWebMedium.eot"); 
         /* IE9 Compat Modes */
    src: url("../../../../public/fonts-file/iran-yekan/eot/IRANYekanWebMedium.eot?#iefix") format("embedded-opentype"), 
         /* IE6-IE8 */ 
         url("../../../../public/fonts-file/iran-yekan/woff2/IRANYekanWebMedium.woff2") format("woff2"),
         /* Super Modern Browsers */ 
         url("../../../../public/fonts-file/iran-yekan/woff/IRANYekanWebMedium.woff") format("woff"),
         /* Pretty Modern Browsers */ 
         url("../../../../public/fonts-file/iran-yekan/ttf/IRANYekanWebMedium.ttf") format("truetype"),
         /* Safari, Android, iOS */ 
         url("../../../../public/fonts-file/iran-yekan/svg/iranyekanwebmedium.svg#svgFontName") format("svg"); 
         /* Legacy iOS */
}
